<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../bootstrap/dist/css/styles.css">
</head>
<table class="container">
    <tr><th colspan="3">
        <center>
            <h1>OPEN CV</h1></center></th>
    </tr>
    <tr>
        <td>
            <a href="face.html" class="thumbnail"><img src="../images/faces.jpeg" class="img-rounded" alt="Cinque Terre">
                <p>FACE DETECTION</p>
            </a>
        </td>
        <td>
            <a href="similar.html" class="thumbnail"><img src="../images/facesSimilar.jpg" class="img-rounded" alt="Cinque Terre">
                <p>FACE MATCHING</p>
            </a>
        </td>
        <td>
            <a href="videofaceDetect.html" class="thumbnail"><img src="../images/facesSimilar.jpg" class="img-rounded" alt="Cinque Terre">
                <p>Video Face Detection</p>
            </a>
        </td>
    </tr>
</table>

<body>
</body>

</html>
