<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../bootstrap/dist/css/styles.css">
</head>

<body>
    <center>
        <div class="table">
            <form method="post" action="http://localhost:8088/demo" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label">Select File...</label>
                    <input type="file" name="file" class="btn btn-primary btn-lg">
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <label class="control-label">Select File...</label>
                    <input type="file" name="file1" class="btn btn-primary btn-lg">
                </div>
                <br/>
                <br/>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary btn-lg">
                </div>
            </form>
        </div>
    </center>
</body>

</html>
